*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	
}

body{
	background-image: url('../images/pkgBg.png');
	background-size: cover;
}
.cards{
	width: 27%;
	background-color: antiquewhite;
	border-radius: 5px;
	margin: 40px;
	display: inline-block;
	
}

.cards:hover{
	box-shadow: 2px 2px 10px black;
	transition: .2s;
}

.image img{
	width: 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.title{
	text-align: center;
	padding: 5px;
}

.desc{
	padding: 17px;
}

button{
	margin-top: 30px;
	margin-bottom: 10px;
	background-color: white;
	border: 1px solid black;
	height: 30px;
	width: 100px;
	border-radius: 5px;
	align-items: center;
}

button:hover{
	background-color: black;
	color: white;
	transition: .5s;

}

