*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family:  sans-serif;
}

.navbar{
	width: 100%;
	height: 1px;
	margin: auto;
	background-color: #2863d1;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	width: 100px;
	cursor: pointer;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 100%;
	background: #c9dcff;
	position: absolute;
	left: 0;
	bottom: -7px;
}